.New {
    display: grid;
    grid-template-columns: auto;
    margin-inline: 5vw;
    gap: 1vh;
}
.New img {
    width: 100%;
    object-fit: cover;
    border-radius:  25px 25px 0 0;
}
.tilte-new {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: var(--acent-clr-o);
    backdrop-filter: blur(8px);
    border-radius: 50px;
    padding-inline: 10px;
}
.tilte-new h2{
    font-size: var(--fs-700);
    font-weight: var(--fw-500);
    letter-spacing: -2px;
}
.tilte-new h3{
    color: var(--text-clr-3);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    letter-spacing: -1px;
}
.cards-n {
    display: flex;
    gap: 20px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.t-p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.card-n-1, .card-n-2, .card-n-3, .card-n-4{
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    aspect-ratio: 3 / 2;
    max-height: 100%;
    max-width: 90%;

    background: var(--bg-clr);
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    border-radius: 25px;
}
.card-n-1 h3, .card-n-2 h3, .card-n-3 h3, .card-n-4 h3{
    justify-self: flex-start;
    padding-inline: 10px;
}
.card-n-1 p, .card-n-2 p, .card-n-3 p, .card-n-4 p{
    padding-inline: 10px;
}
@media (min-width: 768px) {
    .cards-n{
        width: 100%;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        
    }
    .card-n-1, .card-n-2, .card-n-3, .card-n-4 {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 300px;
        aspect-ratio: 3 / 3;

        max-height: 600px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .tilte-new h2{
        font-size: var(--fs-900);
    }
    .tilte-new h3{
        font-size: var(--fs-500);
    }

}